<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/templates.css}">
    <title>Slowlee</title>

</head>

<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-5 bg-white rounded" id="default-navbar">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/user/user-index}">
                    <img src="/images/pds_logo.png" alt="" class="d-inline-block align-text-top"></a>

                <div class="col-8">
                    <div class="search__container">
                        <label class="track-order">
                        <input class="search__input" type="text" placeholder="Type your Tracking №...">
                    </label>
                    </div>
                </div>
                <div style="margin-right: 50px;">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">My
                        Profile</a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDropdown" style="right: 50px;">
                                <li><a class="dropdown-item" th:href="@{/user/edit-profile}">Edit</a></li>
                                <li><a class="dropdown-item" th:href="@{/user/profile}">My orders</a></li>
                                <li><a class="dropdown-item" th:href="@{#}">Payment History</a></li>
                                <li><a class="dropdown-item" th:href="@{/user/logout}">Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="main">
        <div class="container landing-page">
            <div class="col-6">
                <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://unival-logistics.com/img/Parcel-Delivery-Los-Angeles-California.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="slide-text">First slide label</h5>
                                <p class="slide-text">Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://media.istockphoto.com/photos/young-happy-delivery-man-with-cardboard-boxes-looking-at-camera-picture-id1186576767?k=20&m=1186576767&s=612x612&w=0&h=jIkbWTXfwVw-pIOpz5NNFaVpb2qK4ZKU4oW0t9r-N2A=" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="slide-text">Second slide label</h5>
                                <p class="slide-text">Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="http://st.depositphotos.com/2249091/3859/i/450/depositphotos_38599281-Parcel-delivery-company.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="slide-text">Third slide label</h5>
                                <p class="slide-text">Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted footer">
        <section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom">
            <div class="container text-center text-md-start mt-1">
                <div class="row mt-3">
                    <div class="col-md-2 col-lg-1 col-xl-2 mx-auto mb-1">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-1">Useful links</h6>

                        <p><a href="#!" class="text-reset links">About Us</a></p>
                        <p><a href="#!" class="text-reset links">Contact Us</a></p>
                        <p><a href="#!" class="text-reset links">Terms and Conditions</a></p>
                        <p><a href="#!" class="text-reset links">Help</a></p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-2">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i>Sofia, 109 Vertigo Business Tower</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i> AmadeusGroupCompany@yahoo.com
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05); color: white; ">
            Â© 2022 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">TeamDobrqgi</a>
        </div>
    </footer>


</body>

</html>