<div th:fragment="footer">
    <footer class="text-center text-lg-start bg-light text-muted footer">
        <section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom">
            <div class="container text-center text-md-start mt-1">
                <div class="row mt-3">
                    <div class="col-md-2 col-lg-1 col-xl-2 mx-auto mb-1">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-1">Useful links</h6>

                        <p><a href="#">About Us</a></p>
                        <p><a href="#exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact Us</a></p>
                        <p><a href="#">Terms and Conditions</a></p>
                        <p><a href="#">Help</a></p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-2">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i>Sofia, 109 Vertigo Business Tower</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i> AmadeusGroupCompany@yahoo.com
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05); color: white; ">
            Â© 2022 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">TeamDobrqgi</a>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="contactModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Send Us an email</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="https://formsubmit.co/pebblevideos@gmail.com" method="POST">
                            <div class="mb-3">
                                <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <input type="name" name="name" class="form-control" placeholder="Name">
                            </div>
                            <div class="mb-3">
                                <input type="text" name="message" class="form-control" placeholder="Write your message here">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>