@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.div {
    overflow-x: hidden;
}

.navbar,
.footer {
    background: linear-gradient(120deg, #0cf9e5, #5a84eb);
}

.footer {
    margin-top: 100px;
    color: white;
}

#navbarDropdown {
    color: white;
}

.signin,
.signup {
    background-color: #5a84eb;
    color: white;
    border-color: #0cf9e5;
}

.links {
    text-decoration: none;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    /* background: linear-gradient(120deg, #0cf9e5, #5a84eb); */
    border-width: 4px;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#0cf9e5), to(#5a84eb)) 2 repeat;
}

.card .card-header {
    font-weight: 500;
    color: blue;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-signin {
    width: 400px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 100px;
}

.form-floating {
    margin: 15px 0px 15px 0px;
}

.form-control,
.dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding: 0.5rem 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.search__input {
    width: 60%;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: white;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid white;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 2px solid white;
    border-radius: 0;
    background-position: 100% center;
}

.track-order {
    display: flex;
    justify-content: center;
}

.landing-page {
    display: flex;
    justify-content: center;
}

.slide-text {
    color: black;
}